{% extends 'articles/base.html' %}
{% load make_link %}

{% block body %}
<hr>
{% include 'articles/_follow.html' %}
<hr>

<p>글 번호 : {{ article.pk }}</p>

<p>글 제목 : {{ article.title }} </p>

<p>글 내용 : {{ article|hashtag_link|safe }} </p>

<p> 글 생성 시각 : {{ article.created_at | date:"SHORT_DATE_FORMAT" }}</p>
<p> 글 수정 시각 : {{ article.updated_at | date:"M, j, Y" }}</p>

<hr>
{% if user.is_authenticated %}
    <form action="{% url 'articles:comment_create' article.pk %}" method="POST">
        {% csrf_token %}
        <!-- {{ comment_form }} -->
        <label for="comment">Comment</label>
        <input type="text" name="comment" id="comment">
        <input type="submit" value="댓글작성">
    </form>
{% else %}
    <p>댓글을 작성하려면 <a href="{% url 'accounts:login' %}">로그인</a>해주세요</p>
{% endif %}


<hr>
<p><b>댓글 목록</b></p>
<p><b>현재까지 댓글 수:{{ comments.count }}</b></p>
<hr>
{% for comment in comments %}
<div>
    <p>댓글 {{ forloop.revcounter}} : {{comment.comment}}</p>
    <p>댓글쓴이 : {{ comment.user }}</p>
    {% if request.user == comment.user %}
    <form action="{% url 'articles:comments_delete' article.pk comment.pk %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="댓글 삭제" class = "btn btn-warning">
    </form>
    {% endif %}
    <hr>
</div>
{% empty %}
<p>노댓글</p>
{% endfor %}
<hr>


<a href="{% url 'articles:index' %}"> [메인]</a>


{% if request.user == article.user %}
<form action="{% url 'articles:delete' article.pk %}" method="post">
    {% csrf_token %}
    <input type="submit" value = "삭제">
</form>
<a href="{% url 'articles:update' article.pk %}">[수정]</a>
{% endif %}



{% endblock %}