{% extends 'base.html' %}
​
{% block body %}
<h1 class="text-center">EDIT</h1>
<form action="/articles/{{ article.pk }}/update/" method="POST">
    {% csrf_token %}
    <label for="title">Title</label><br>
    <input type="text" id="title" name="title" value="{{ article.title }}"><br>
    <label for="content">Content</label><br>
    <textarea name="content" id="content" cols="30" rows="10">{{ article.content }}</textarea><br>
    <input type="submit" value="글쓰기" >
</form>
<a href="/article/" target="_self">메인으로 돌아가기]</a>
{% endblock %}